.main {
  background-color: white;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #351c0f;
  color: white;
  font-family: "La Belle Aurore";
  padding: 0px 20px;
}
.main h1 {
  width: 150px;
}
.description {
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: space-between;
}
.description a {
  margin: 10px;
  font-size: 20px;
  padding-right: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.center {
  background-image: url(../app/assets/cafe.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 880px;
  margin: 45px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.content {
  width: 800px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.449);

  color: white;
  border-radius: 0px 50px 50px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  width: 400px;
  margin-left: -140px;
  text-align: left;
}
.para {
  width: 400px;
  margin-left: 30px;
}
.content h1 {
  color: white;
  font-size: 60px;
  padding: 30px;
  align-items: center;
}
.content p {
  color: white;
  font-size: x-large;
}

.herobtn {
  height: 46px;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: 70px;
  padding: 0px 30px;
  text-decoration: none;
  font-style: none;
}
.logo {
  text-decoration: none;
  color: white;
}
